.products{
    margin-top: -8rem;
    margin-bottom: 5rem;
}

.products__grid{
     display: grid;
     width: 90%;
     max-width: 1800px;
     margin: 0 auto;
     justify-content: space-between;
}

.one{
    grid-template-columns: 1fr;
}

.two{
    grid-template-columns: 1fr 1fr;
}

.three{
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-device-width: 700px) {

    .one{
        grid-template-columns: 1fr;
    }
    
    .two{
        grid-template-columns: 1fr;
    }
    
    .three{
        grid-template-columns: 1fr;
    }
    
  }